body {
  background-color: #f3f2f1;
}
h1 {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  margin: 100px;
}
h2 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
h3 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
h4 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}
p {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

ul.list {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

p.bold-quote {
  font-weight: bold;
  text-align: left;
  text-indent: 20px;
}

p.italics-sub {
  font-weight: lighter;
  font-style: italic;
  text-indent: 20px;
}

p.bold {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

/* The header */
header {
  background-color: #d0c4c4;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 25px;
  max-width: none;
  min-height: min-content;
}

/* The article content */
article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f3f2f1;
}

/* The footer */
footer {
  background-color: #f3f2f1;
  text-align: left;
  padding-top: 50px;
  padding-bottom: 50px;
}
a.dev {
  font-family: 'Courier New', Courier, monospace;
  margin-left: 100px;
}
/* unvisited link */
a:link {
  color: black;
}

/* visited link */
a:visited {
  color: black;
}

/* mouse over link */
a:hover {
  color: lightgrey;
}

/* selected link */
a:active {
  color: lightgray;
}
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #d0c4c4;
}

li.float {
  float: left;
}

li a {
  display: block;
  color: #d0c4c4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
  border: 0.5px solid #ae9999;
  border-radius: 25px;
}
