body {
  background-color: #f3f2f1;
}
h1 {
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  margin-left: 100px;
}
h2 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}
h3 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 100px;
  margin-left: 100px;
}
h4 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 30px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}
h5 {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  font-style: italic;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 100px;
  margin-left: 100px;
}

p {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

ul.list {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 100px;
}

ul.list-ni {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 80px;
}

ol.list-no {
  color: rgb(0, 0, 0);
  font-family: 'Courier New', Courier, monospace;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 100px;
  margin-left: 80px;
}

p.bold-quote {
  font-weight: bold;
  text-align: left;
  text-indent: 20px;
}

p.italics-sub {
  font-weight: lighter;
  font-style: italic;
  text-indent: 20px;
}

p.bold {
  font-weight: bold;
}

* {
  box-sizing: border-box;
}

header {
  background-color: #d0c4c4;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: left;
  font-size: 25px;
  max-width: none;
}

article {
  -webkit-flex: 3;
  -ms-flex: 3;
  flex: 3;
  background-color: #f3f2f1;
}

footer {
  background-color: #f3f2f1;
  text-align: left;
  padding-top: 20px;
  padding-bottom: 20px;
}
a.dev {
  font-family: 'Courier New', Courier, monospace;
  text-align: left;
}
a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: lightgrey;
}

a:active {
  color: lightgray;
}
ul.navigation {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: auto;
  background-color: #d0c4c4;
}

li.float {
  float: left;
}

li a {
  display: block;
  color: #d0c4c4;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #ddd;
  border: 0.5px hidden #beb4b4;
  border-radius: 25px;
}
